<div class="container">
    <div class="flex flex-wrap mb-5 md:flex-nowrap">
        <div class="mb-5 w-full md:mr-5 lg:w-[33rem]">
            <input class="input" type="text" placeholder="Search">
        </div>
        <div class="relative w-full">
            <button class="input w-auto text-left relative cursor-default pr-10 sm:text-sm md:text-base sm:leading-6"
                id="headlessui-listbox-button-:r1:" type="button" aria-haspopup="listbox" aria-expanded="false"
                data-headlessui-state="">
                <span class="block truncate">All Courses</span>
                <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        class="h-5 w-5 text-gray-400">
                        <path fill-rule="evenodd"
                            d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
                            clip-rule="evenodd"></path>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
            {% include 'components/card.html' %}
            <div
                class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative max-w-[350px]">
                <div class="h-[196px] relative border-b-slate-700 border-b-[1px]"><a
                        class="relative w-full h-full inline-block" href="/p/python-programming-course-beginners"><img
                            alt="Complete Python Mastery" loading="lazy" decoding="async" data-nimg="fill"
                            class="object-cover" sizes="350px" src="/assets/images/post-demo.jpg"
                            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a>
                </div>
                <div class="p-6">
                    <div class="flex justify-between items-start">
                        <h3 class="mb-2 flex">
                            <a class="text-white no-underline font-semibold inline-block text-lg hover:no-underline"
                                href="/p/python-programming-course-beginners">Complete Python Mastery</a>
                        </h3>
                        <div class="ml-1">
                            <div
                                class="bg-gray-710 font-medium md:font-bold inline px-3 py-1 rounded-md text-sm text-gray-150">
                                12h
                            </div>
                        </div>
                    </div>
                    <p class="text-base mb-0">Everything you need to program in Python in one course (includes 3
                        real-world projects)</p>
                    <div class="flex gap-4 my-2" data-testid="price">
                        <span class="font-bold text-white">₫667,699</span>
                        <span class="line-through">₫3,927,641</span>
                    </div>
                    <div class="mt-2"></div>
                </div>
            </div>
            <div
                class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative max-w-[350px]">
                <div class="h-[196px] relative border-b-slate-700 border-b-[1px]">
                    <a class="relative w-full h-full inline-block" href="/p/ultimate-react-part1">
                        <img alt="React 18 for Beginners" loading="lazy" decoding="async" data-nimg="fill"
                            class="object-cover" sizes="350px" src="/assets/images/post-demo.jpg"
                            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                    </a>
                </div>
                <div class="p-6">
                    <div class="flex justify-between items-start">
                        <h3 class="mb-2 flex">
                            <a class="text-white no-underline font-semibold inline-block text-lg hover:no-underline"
                                href="/p/ultimate-react-part1">React 18 for Beginners</a>
                        </h3>
                        <div class="ml-1">
                            <div
                                class="bg-gray-710 font-medium md:font-bold inline px-3 py-1 rounded-md text-sm text-gray-150">
                                8h</div>
                        </div>
                    </div>
                    <p class="text-base mb-0">A step-by-step guide to building web apps with React 18+ and TypeScript
                    </p>
                    <div class="flex gap-4 my-2" data-testid="price">
                        <span class="font-bold text-white">₫667,699</span>
                        <span class="line-through">₫3,927,641</span>
                    </div>
                    <div class="mt-2"></div>
                </div>
            </div>
            <div
                class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative max-w-[350px]">
                <div class="h-[196px] relative border-b-slate-700 border-b-[1px]">
                    <a class="relative w-full h-full inline-block" href="/p/ultimate-c-plus-plus-series">
                        <img alt="The Ultimate C++ Series" loading="lazy" decoding="async" data-nimg="fill"
                            class="object-cover" sizes="350px" src="/assets/images/post-demo.jpg"
                            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                    </a>
                </div>
                <div class="p-6">
                    <div class="flex justify-between items-start">
                        <h3 class="mb-2 flex">
                            <a class="text-white no-underline font-semibold inline-block text-lg hover:no-underline"
                                href="/p/ultimate-c-plus-plus-series">The Ultimate C++ Series</a>
                        </h3>
                        <div class="ml-1">
                            <div
                                class="bg-gray-710 font-medium md:font-bold inline px-3 py-1 rounded-md text-sm text-gray-150">
                                12h</div>
                        </div>
                    </div>
                    <p class="text-base mb-0">Master Modern C++: Go from Novice to Professional. Everything you need to
                        code in C++ in one bundle!</p>
                    <div class="flex gap-4 my-2" data-testid="price">
                        <span class="font-bold text-white">₫443,639</span>
                        <span class="line-through">₫2,609,640</span>
                    </div>
                    <div class="mt-2"></div>
                </div>
            </div>
            <div
                class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative max-w-[350px]">
                <div class="h-[196px] relative border-b-slate-700 border-b-[1px]">
                    <a class="relative w-full h-full inline-block" href="/p/complete-sql-mastery">
                        <img alt="Complete SQL Mastery" loading="lazy" decoding="async" data-nimg="fill"
                            class="object-cover" sizes="350px" src="/assets/images/post-demo.jpg"
                            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a>
                </div>
                <div class="p-6">
                    <div class="flex justify-between items-start">
                        <h3 class="mb-2 flex">
                            <a class="text-white no-underline font-semibold inline-block text-lg hover:no-underline"
                                href="/p/complete-sql-mastery">Complete SQL Mastery</a>
                        </h3>
                        <div class="ml-1">
                            <div
                                class="bg-gray-710 font-medium md:font-bold inline px-3 py-1 rounded-md text-sm text-gray-150">
                                11h</div>
                        </div>
                    </div>
                    <p class="text-base mb-0">Everything you need to design and query databases—without the fluff.</p>
                    <div class="flex gap-4 my-2" data-testid="price">
                        <span class="font-bold text-white">₫667,699</span>
                        <span class="line-through">₫3,927,641</span>
                    </div>
                    <div class="mt-2"></div>
                </div>
            </div>
            <div
                class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative max-w-[350px]">
                <div class="h-[196px] relative border-b-slate-700 border-b-[1px]">
                    <a class="relative w-full h-full inline-block" href="/p/ultimate-nextjs-series">
                        <img alt="The Ultimate Next.js Series" loading="lazy" decoding="async" data-nimg="fill"
                            class="object-cover" sizes="350px" src="/assets/images/post-demo.jpg"
                            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                    </a>
                </div>
                <div class="p-6">
                    <div class="flex justify-between items-start">
                        <h3 class="mb-2 flex">
                            <a class="text-white no-underline font-semibold inline-block text-lg hover:no-underline"
                                href="/p/ultimate-nextjs-series">The Ultimate Next.js Series</a>
                        </h3>
                        <div class="ml-1">
                            <div
                                class="bg-gray-710 font-medium md:font-bold inline px-3 py-1 rounded-md text-sm text-gray-150">
                                12h</div>
                        </div>
                    </div>
                    <p class="text-base mb-0">Everything you need to build fast, full-stack web apps with Next.js 13+
                        (App Router) and TypeScript</p>
                    <div class="flex gap-4 my-2" data-testid="price">
                        <span class="font-bold text-white">₫667,699</span>
                        <span class="line-through">₫3,927,641</span>
                    </div>
                    <div class="mt-2"></div>
                </div>
            </div>

        </div>
    </div>
</div>