<div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-8 undefined">
    <div
        class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
        <div class="h-[196px] relative"><a class="relative w-full h-full inline-block" href="/p/fundamentals"><img
                    alt="Fundamentals" fetchpriority="high" decoding="async" data-nimg="fill" class="object-cover"
                    src="http://res.cloudinary.com/codewithmosh/image/upload/v1685118742/images/fundamentals.svg"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a></div>
        <div class="p-6"><a class="font-semibold" href="/p/fundamentals">
                <h2 class="text-xl mb-2">Fundamentals</h2>
            </a>
            <p>Essential courses that anyone pursuing a career as a professional software engineer should take. Data
                structures, algorithms, design patterns, and more!</p>
        </div>
    </div>
    <div
        class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
        <div class="h-[196px] relative"><a class="relative w-full h-full inline-block" href="/p/front-end"><img
                    alt="Front-end Development" fetchpriority="high" decoding="async" data-nimg="fill"
                    class="object-cover"
                    src="http://res.cloudinary.com/codewithmosh/image/upload/v1685118742/images/front-end.svg"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a></div>
        <div class="p-6"><a class="font-semibold" href="/p/front-end">
                <h2 class="text-xl mb-2">Front-end Development</h2>
            </a>
            <p>All the courses you need to build beautiful websites. HTML, CSS, JavaScript, React, and more!</p>
        </div>
    </div>
    <div
        class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
        <div class="h-[196px] relative"><a class="relative w-full h-full inline-block" href="/p/back-end"><img
                    alt="Back-end Development" fetchpriority="high" decoding="async" data-nimg="fill"
                    class="object-cover"
                    src="http://res.cloudinary.com/codewithmosh/image/upload/v1685118742/images/back-end.svg"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a></div>
        <div class="p-6"><a class="font-semibold" href="/p/back-end">
                <h2 class="text-xl mb-2">Back-end Development</h2>
            </a>
            <p>All the courses you need to build powerful APIs for web and mobile apps. Node, Django, ASP.NET MVC,
                MySQL, and more!</p>
        </div>
    </div>
    <div
        class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
        <div class="h-[196px] relative"><a class="relative w-full h-full inline-block" href="/p/mobile-development"><img
                    alt="Mobile Development" fetchpriority="high" decoding="async" data-nimg="fill" class="object-cover"
                    src="http://res.cloudinary.com/codewithmosh/image/upload/v1685118742/images/mobile.svg"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a></div>
        <div class="p-6"><a class="font-semibold" href="/p/mobile-development">
                <h2 class="text-xl mb-2">Mobile Development</h2>
            </a>
            <p>All the courses you need to build professional, cross-platform mobile apps using React Native.</p>
        </div>
    </div>
    <div
        class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
        <div class="h-[196px] relative"><a class="relative w-full h-full inline-block" href="/p/game-development"><img
                    alt="Game Development" fetchpriority="high" decoding="async" data-nimg="fill" class="object-cover"
                    src="http://res.cloudinary.com/codewithmosh/image/upload/v1685118742/images/game.svg"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a></div>
        <div class="p-6"><a class="font-semibold" href="/p/game-development">
                <h2 class="text-xl mb-2">Game Development</h2>
            </a>
            <p>The fundamental courses you need to build games.</p>
        </div>
    </div>
</div>