<div
    class="border border-slate-800 hover:dark:border-[#484354] transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative max-w-[350px]">
    <div class="h-[196px] relative border-b-slate-700 border-b-[1px]">
        <a class="relative w-full h-full inline-block" href="/p/build-ai-powered-apps">
            <img alt="Build AI-Powered Apps" fetchpriority="high" decoding="async" data-nimg="fill" class="object-cover"
                sizes="350px" src="/assets/images/post-demo.jpg"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a>
    </div>
    <div class="p-6">
        <div class="flex justify-between items-start">
            <h3 class="mb-2 flex">
                <a class="text-white no-underline font-semibold inline-block text-lg hover:no-underline"
                    href="/p/build-ai-powered-apps">Build AI-Powered Apps</a>
            </h3>
            <div class="ml-1">
                <div class="bg-gray-710 font-medium md:font-bold inline px-3 py-1 rounded-md text-sm text-gray-150">
                    7h
                </div>
            </div>
        </div>
        <p class="text-base mb-0">Learn how to integrate AI into your apps - no ML background needed</p>
        <div class="flex gap-4 my-2" data-testid="price">
            <span class="font-bold text-white">₫891,759</span>
            <span class="line-through">₫5,245,641</span>
        </div>
        <div class="mt-2"></div>
    </div>
</div>