{% layout 'layouts/default.html' %}

{% block content %}
    <div class="container">
         {% include 'components/post-detail/header_section.html' %}
         {% include 'components/post-detail/introduction_section.html' %}
         {% include 'components/post-detail/content_section.html' %}

         <div>
            <div class="flex flex-col lg:mb-10 lg:my-5">
                {% include 'components/post-detail/course_option_section.html' %}
            </div>
         </div>

         <div class="flex flex-col items-center">
            {% include 'components/price/faq_section.html' %}
            {% include 'components/post-detail/course_preview_section.html' %}
         </div>
    </div>
{% endblock %}