<header class="my-12 mb-6 text-center">
    <h2 class="text-4xl leading-[1.2]">Ready to Build AI-Powered Apps?</h2>
</header>
<div class="flex flex-col items-center">
    <p class="text-center max-w-[50ch] text-lg md:text-2xl md:leading-9 font-medium">Don’t just play with AI.

        Learn how to integrate it into your apps with confidence.</p>
    {% include 'components/price/time_offer_section.html' %}
    <div class="grid gap-20 md:grid-cols-2 md:gap-5 w-full mt-20 mb-10">
        <div class="relative w-full md:max-w-[450px]" role="enrollment-card">
            <div class="bg-linear-to-b from-[rgb(53_49_62)] to-transparent rounded-3xl p-[1px] relative">
                <div
                    class="bg-linear-to-b  from-[#201b2b] via-[#1a1524] to-[#0f0d12] shadow-lg overflow-hidden rounded-3xl p-6 md:p-8">
                    <h4 class="font-bold text-2xl mb-2 text-white w-40 md:w-auto">Buy this Course</h4>
                    <p class="font-medium text-gray-350">Own this course forever.</p>
                    <div class="my-6 h-30">
                        <div data-testid="price-tag"><span
                                class="font-bold text-5xl dark:text-white">₫891,759</span><span
                                class="ml-6 text-xl line-through">₫5,245,641</span></div>
                        <div class="text-gray-350 my-2"><span>🇻🇳 You'll be charged $33.83 + tax</span></div>
                    </div>
                    <div class="px-6 md:px-8 lg:px-12 flex flex-col items-center">
                        <div class="absolute top-8 md:top-9 right-5"></div><a
                            class="group inline-block px-6 py-3 text-md no-underline text-center text-white font-medium md:font-semibold rounded-full bg-gray-450 hover:bg-gray-500 transition-all duration-200 ease-out hover:text-white hover:no-underline w-full"
                            role="button"
                            href="https://sso.teachable.com/secure/146684/checkout/6420960/build-ai-powered-apps?coupon_code=LEARNNOW">Buy
                            This Course</a>
                        <p class="my-2 text-sm font-semibold text-gray-350">No recurring fees — ever.</p>
                    </div>
                    <div class="mt-10 w-full">
                        <div class="mb-4 text-gray-350 font-medium">What's included:</div>
                        <ul class="mb-8 space-y-4 text-left">
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">7 hours of HD
                                    video</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">120 lessons</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">Lifetime
                                    access</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">Downloadable
                                    content</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">English
                                    captions</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">Certificate of
                                    completion</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full md:max-w-[450px]" role="enrollment-card">
            <div class="bg-linear-to-b from-[rgb(53_49_62)] to-transparent rounded-3xl p-[1px] relative">
                <div
                    class="bg-linear-to-b  from-[#201b2b] via-[#1a1524] to-[#0f0d12] shadow-lg overflow-hidden rounded-3xl p-6 md:p-8">
                    <h4 class="font-bold text-2xl mb-2 text-white w-40 md:w-auto">Get Lifetime Access</h4>
                    <p class="font-medium text-gray-350">All current &amp; future courses — one payment.</p>
                    <div class="my-6 h-30">
                        <div data-testid="price-tag"><span
                                class="font-bold text-5xl dark:text-white">₫3,400,441</span><span
                                class="ml-6 text-xl line-through">₫10,517,642</span></div>
                        <div class="text-gray-350 my-2"><span>🇻🇳 You'll be charged $129 + tax</span></div>
                    </div>
                    <div class="px-6 md:px-8 lg:px-12 flex flex-col items-center">
                        <div class="absolute top-8 md:top-9 right-5">
                            <div
                                class="bg-pink-75 font-medium md:font-bold inline px-3 py-1 rounded-md text-sm text-white">
                                Best Value</div>
                        </div><a
                            class="group inline-block px-6 py-3 text-md no-underline text-center text-white font-medium md:font-semibold rounded-full bg-violet-500 hover:bg-violet-650 transition-all duration-200 ease-out hover:text-white hover:no-underline w-full"
                            role="button"
                            href="https://sso.teachable.com/secure/146684/checkout/6457200/lifetime-plan?coupon_code=BF2025DEAL">Unlock
                            All Courses</a>
                        <p class="my-2 text-sm font-semibold text-gray-350">No recurring fees — ever.</p>
                    </div>
                    <div class="mt-10 w-full">
                        <div class="mb-4 text-gray-350 font-medium">What's included:</div>
                        <ul class="mb-8 space-y-4 text-left">
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">50+ premium courses
                                    worth $4,850+</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">All future courses
                                    included 🌟 </span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">330 hours of HD
                                    video</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">Lifetime
                                    access</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">Downloadable
                                    content</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">Early access to new
                                    courses</span>
                            </li>
                            <li class="flex flex-row items-start space-x-3">
                                <div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                        class="w-5 h-5 inline flex-shrink-0" color="#666d85" style="color:#666d85"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                                        </path>
                                    </svg></div><span class="font-medium md:font-medium text-white">Help shape future
                                    course topics</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'components/price/guarantee_section.html' %}
</div>