<div class="text-center">
    <section class="flex flex-col lg:mb-10 lg:my-5">
        <header class="my-12 mb-6 text-center">
            <h2 class="text-4xl leading-[1.2]">Still on the fence?</h2>
        </header>
        <div class="flex flex-col items-center text-center">
            <p class="max-w-3xl text-2xl mb-10 leading-9 lg:leading-10">Here's a free preview of the course.</p><a
                class="group inline-block px-6 py-3 text-md no-underline text-center text-white font-medium md:font-semibold rounded-full bg-violet-500 hover:bg-violet-650 transition-all duration-200 ease-out hover:text-white hover:no-underline undefined"
                role="button"
                href="https://members.codewithmosh.com/courses/build-ai-powered-apps/lectures/62789461">Preview
                Course</a>
        </div>
    </section>
</div>