<section class="flex flex-col lg:mb-10 lg:my-5">
    <header class="my-12 mb-6 text-center">
        <h2 class="text-4xl leading-[1.2]"></h2>
    </header>
    <div class="flex flex-col items-center">
        <p class="text-center max-w-[50ch] text-lg md:text-2xl md:leading-9 font-medium">Say goodbye to scattered
            tutorials and endless fluff. This course gives you a clear, structured path with bite-sized videos that
            blend theory and hands-on practice.</p>
    </div>
    <div class="my-5 md:my-10">
        <video controls=""
            src="https://cdn.codewithmosh.com/video/upload/v1755631419/promo-videos/build-ai-powered-apps.mp4">
        </video>
    </div>
</section>