<section class="pb-12 relative">
    <img alt="background" fetchpriority="high" width="1572" height="795" decoding="async" data-nimg="1"
    class="absolute -top-28 -z-10" src="/assets/images/bg-grid-lighter.svg"
        style="color: transparent;">
    <div class="mx-auto px-2 md:px-5 lg:px-8 2xl:max-w-7xl">
        <div class="container text-center flex flex-col items-center mb-6 md:my-6 lg:my-10">
            <h1 class="text-5xl leading-[1.12]">Our Biggest Deal of the Year</h1>
            <p class="text-center max-w-[50ch] text-lg md:text-2xl md:leading-9 font-medium">Get lifetime access to all
                current and future courses <br>with one easy payment.</p>
            <p class="mt-4 text-lg font-medium">Offer Ends in:</p>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:pb-4 w-full max-w-xl" role="timer">
                <div class="flex-1 flex flex-col items-center border border-gray-850 rounded-xl p-2 lg:p-6 bg-black">
                    <span class="text-white px-4 py-2 text-3xl font-bold">14</span>
                    <span class="text-sm font-semibold">Days</span>
                </div>
                <div class="flex-1 flex flex-col items-center border border-gray-850 rounded-xl p-2 lg:p-6 bg-black">
                    <span class="text-white px-4 py-2 text-3xl font-bold">3</span>
                    <span class="text-sm font-semibold">Hours</span>
                </div>
                <div class="flex-1 flex flex-col items-center border border-gray-850 rounded-xl p-2 lg:p-6 bg-black">
                    <span class="text-white px-4 py-2 text-3xl font-bold">7</span>
                    <span class="text-sm font-semibold">Minutes</span>
                </div>
                <div class="flex-1 flex flex-col items-center border border-gray-850 rounded-xl p-2 lg:p-6 bg-black">
                    <span class="text-white px-4 py-2 text-3xl font-bold">44</span>
                    <span class="text-sm font-semibold">Seconds</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center mt-6">
            <a class="group inline-block px-6 py-3 text-md no-underline text-center text-white font-medium md:font-semibold rounded-full bg-violet-500 hover:bg-violet-650 transition-all duration-200 ease-out hover:text-white hover:no-underline undefined"
                role="button" href="/p/all-access">Grab Your Deal</a>
        </div>
    </div>
</section>