<div class="container">
    <section class="flex flex-col lg:mb-10 lg:my-5">
        <header class="my-12 mb-6 text-center">
            <p
                class="text-md font-semibold my-4 tracking-wide bg-gradient-to-r from-[rgb(157_99_255)] to-[rgb(232_121_249)] inline-block text-transparent bg-clip-text">
                Recognized by Professionals</p>
            <h2 class="text-4xl leading-[1.2]">Trusted by Employees at Leading Companies</h2>
        </header>
        <div class="flex flex-col items-center" style="opacity: 1; transform: none;">
            <p class="mb-10 text-center max-w-[50ch] text-lg lg:text-xl lg:leading-8"
                style="opacity: 1; transform: none;">My courses are used by professionals from top companies like <span
                    class="text-white">Microsoft, Amazon, and Google,</span> helping them sharpen their skills and stay
                ahead in their fields.</p>
            <div style="opacity: 1; transform: none;">
                <div class="flex flex-col md:flex-row gap-5"><a
                        class="group inline-block px-6 py-3 text-md no-underline text-center text-white font-medium md:font-semibold rounded-full bg-violet-500 hover:bg-violet-650 transition-all duration-200 ease-out hover:text-white hover:no-underline undefined"
                        role="button" href="/courses">Browse Courses</a><a
                        class="group inline-block px-6 py-3 text-md no-underline text-center text-white font-medium md:font-semibold rounded-full bg-pink-700 hover:bg-pink-600 transition-all duration-200 ease-out hover:text-white hover:no-underline undefined"
                        role="button" href="https://sso.teachable.com/secure/146684/identity/sign_up">Join for Free</a>
                </div>
            </div>
        </div>
    </section>
</div>