<div class="relative">
    <div class="container text-center flex flex-col items-center mb-6 md:my-6 lg:my-10">
        <div
            class="text-md mb-3 font-medium md:font-semibold text-gradient inline-block text-transparent bg-clip-text">
            One payment. Lifetime Access.</div>
        <h1 class="leading-[1.2] lg:text-5xl mb-8">Own All My Courses, Forever</h1>
        <p class="text-lg lg:text-2xl max-w-prose !leading-[1.6]">Pay once. Get lifetime access to 50+ coding courses
            designed to make you a real-world developer. No subscriptions. No recurring charges. Just practical,
            job-focused learning — yours to keep, forever.</p>
    </div>
</div>