<div class="flex flex-col items-center text-center max-w-prose">
    <section class="flex flex-col lg:mb-10 lg:my-5">
        <header class="my-12 mb-6 text-center">
            <p
                class="text-md font-semibold my-4 tracking-wide text-gradient inline-block text-transparent bg-clip-text">
                Real Results, Real Stories
            </p>
            <h2 class="text-4xl leading-[1.2]">Why Members Love Learning Here</h2>
        </header>
        <div class="flex flex-col items-center md:flex-row md:justify-center gap-2 mb-10">
            <div class="flex">
                <span class="font-bold mr-1 text-lg text-gray-100">Excellent</span>
                <span class="mx-2 flex items-center">
                    <img alt="Stars" data-testid="trust-stars" fetchpriority="high" width="90" height="30"
                        decoding="async" data-nimg="1" class="inline" style="color:transparent"
                        src="/assets/images/star-45.svg">
                </span>
            </div>
            <div>
                <span class="font-bold mr-1">4.7</span>out of 5 based on <a target="_blank" href="#"><span class="font-bold">6843</span> reviews</a>
            </div>
        </div>
        <p class="text-center max-w-[50ch] text-lg md:text-2xl md:leading-9 font-medium">Don’t just take my word for
            it—see how members are leveling up their skills and landing dream jobs with full access to every course.</p>
        <div class="text-left mt-10">
            <ul class="flex flex-col gap-4">
                <li>
                    <div
                        class="border border-slate-800  transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
                        <figure class="rounded-2xl h-full p-5">
                            <figcaption class="flex items-center gap-x-4 mb-5">
                                <img alt="Fred Lackey" loading="lazy" width="40" height="40" decoding="async"
                                    data-nimg="1" class="h-10 w-10 rounded-full bg-gray-50" style="color:transparent"
                                    src="/assets/images/fred_lackey.png">
                                <div>
                                    <div class="font-semibold text-white">Fred Lackey</div>
                                    <img alt="Stars" data-testid="trust-stars" fetchpriority="high" width="90"
                                        height="30" decoding="async" data-nimg="1" class="inline"
                                        style="color:transparent" src="/assets/images/star-5.svg">
                                </div>
                            </figcaption>
                            <blockquote>
                                <p>Been recommending Mosh for years... probably a decade by now. I've lost count of how
                                    many developers and business people I have shared one of his videos with. Not much
                                    to say other than he's one of the best instructors out there. Great personality for
                                    teaching and a solid mastery of the subject matter. He's always going to be my first
                                    stop for learning something new.</p>
                            </blockquote>
                        </figure>
                    </div>
                </li>
                <li>
                    <div
                        class="border border-slate-800  transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
                        <figure class="rounded-2xl h-full p-5">
                            <figcaption class="flex items-center gap-x-4 mb-5">
                                <div>
                                    <div class="font-semibold text-white">David Roberts</div>
                                    <img alt="Stars" data-testid="trust-stars" fetchpriority="high" width="90"
                                        height="30" decoding="async" data-nimg="1" class="inline"
                                        style="color:transparent" src="/assets/images/star-5.svg">
                                </div>
                            </figcaption>
                            <blockquote>
                                <p>Mosh helped me land a job as as a Mobile software engineer</p>
                                <p>I'm a self taught software engineer. During this period of study I completed many
                                    courses, trying to emulate a computer science education. Mosh's courses helped me
                                    all the way and the ones I continue coming back to and referencing as a professional
                                    software engineer.</p>
                                <p>I already held a degree and didn't want to incure the cost of going to college again.
                                    I'm also pretty motivated, so Mosh's structured courses worked well for me.</p>
                                <p>May courses will teach you a framework or technology, but these are highly perishable
                                    skills. Mosh will teach you to think like a software engineer and load you with the
                                    correct fundamentals that will give you confidence when you get in the workplace.
                                </p>
                                <p>Thanks for everything Mosh!</p>
                            </blockquote>
                        </figure>
                    </div>
                </li>
                <li>
                    <div
                        class="border border-slate-800  transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
                        <figure class="rounded-2xl h-full p-5">
                            <figcaption class="flex items-center gap-x-4 mb-5">
                                <div>
                                    <div class="font-semibold text-white">Muhammad Usman Ghani</div>
                                    <img alt="Stars" data-testid="trust-stars" fetchpriority="high" width="90"
                                        height="30" decoding="async" data-nimg="1" class="inline"
                                        style="color:transparent" src="/assets/images/star-5.svg">
                                </div>
                            </figcaption>
                            <blockquote>
                                <p>I started learning from Mosh years back when I didn't even know the ABCs of
                                    programming. Now I'm a data engineer and still come to his courses every now and
                                    then. I can't thank him enough for the incredible impact his courses and exceptional
                                    teaching methods have had on my journey in programming.</p>
                            </blockquote>
                        </figure>
                    </div>
                </li>
                <li>
                    <div
                        class="border border-slate-800  transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
                        <figure class="rounded-2xl h-full p-5">
                            <figcaption class="flex items-center gap-x-4 mb-5">
                                <img alt="Virginia Castillo"
                                    loading="lazy" width="40" height="40" decoding="async" data-nimg="1"
                                    class="h-10 w-10 rounded-full bg-gray-50" style="color:transparent" src="/assets/images/virginia_castillo.png">
                                <div>
                                    <div class="font-semibold text-white">Virginia Castillo</div>
                                    <img alt="Stars" data-testid="trust-stars" fetchpriority="high" width="90"
                                        height="30" decoding="async" data-nimg="1" class="inline"
                                        style="color:transparent" src="/assets/images/star-5.svg">
                                </div>
                            </figcaption>
                            <blockquote>
                                <p>The best investment I have ever made</p>
                                <p>Mosh is an outstanding teacher. His lessons are easy to learn and can be followed at
                                    your own pace, making them incredibly convenient. I've been learning from him for
                                    over four years, and the growth in my professional career has been remarkable. It's
                                    totally worth it. I am incredibly thankful to have found him.</p>
                            </blockquote>
                        </figure>
                    </div>
                </li>
                <li>
                    <div
                        class="border border-slate-800  transition-colors duration-200 ease-in-out overflow-hidden rounded-lg relative ">
                        <figure class="rounded-2xl h-full p-5">
                            <figcaption class="flex items-center gap-x-4 mb-5"><img alt="Tejasvi Kalburgi"
                                    loading="lazy" width="40" height="40" decoding="async" data-nimg="1"
                                    class="h-10 w-10 rounded-full bg-gray-50" style="color:transparent" src="/assets/images/tejasvi_kalburgi.png">
                                <div>
                                    <div class="font-semibold text-white">Tejasvi Kalburgi</div>
                                    <img alt="Stars" data-testid="trust-stars" fetchpriority="high" width="90"
                                        height="30" decoding="async" data-nimg="1" class="inline"
                                        style="color:transparent" src="/assets/images/star-5.svg">
                                </div>
                            </figcaption>
                            <blockquote>
                                <p>Mosh comes up with the best, well-structured and informative courses as always. I
                                    have seen most of his YouTube videos in his channel and he is the main reason I fell
                                    in love with programming. Mosh not only teaches you the concepts, but also points
                                    out what it takes to be a professional developer that makes one stand out. I highly
                                    recommend his courses to all.</p>
                                <p>Thank you so much, Mosh</p>
                            </blockquote>
                        </figure>
                    </div>
                </li>
            </ul>
            <button
                class="group inline-block px-3 py-1 text-sm no-underline text-center text-white font-medium md:font-semibold rounded-full bg-gray-450 hover:bg-gray-500 transition-all duration-200 ease-out hover:text-white hover:no-underline mt-4"
                type="submit">
                Show More
            </button>
        </div>
    </section>
</div>